@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');


body {
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

h2 {
    color : blue;
}
.im{
    background-color: orange;
    width: 70%;
    height: 150px;
    padding: 10px;
    
    margin-top: 40px;
    margin-bottom: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.quiz{
    font-family: 'Single Day', cursive;
    color : red;
    margin-bottom: 25px;
}
.btn{
    cursor: pointer;
    background-color: black;
    color: yellow;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 5px;
}