@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

@keyframes myani {
    0% {
        transform: translate(0, 0);
        background-color: red;
    }
    25% {
        transform: translate(100%, 0%);
        background-color: orange;
    }
    50% {
        transform: translate(100%, 100%);
        background-color: green;
    }
    75% {
        transform: translate(0%,100%);
        background-color: blue;
    }
    100% {
        transform: translate(0%, 0%);
        background-color: purple;
    }
}

body {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

li:before {
    content: "• ";
    color: red;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 25px;
    margin-left:-7.5%
}
.ending {
    color:blue;
    font-family: 'Single Day', cursive;
}
.congratulations{
    margin-left:-15%;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100px;
    height: 100px;
    margin-top: 50px;
    border: 1px solid white;
    background-color: red;

    animation: myani 2s linear 2;
}