@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

body {
    background-color: black;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 50px;
}
h1 {
    color : red;

}
.intro{
    font-family: 'Single Day', cursive;
    color : yellow;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


li:before {
    content: "• ";
    color: orange;
}
.list{
    list-style: none;
    margin-left:-5%
}

footer {
    color : green;
    margin-top: 100px;
}